:root{
  --main-color: #10cab7 ;
  --secondary-color: #2c4755;}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family:"work-sans",sans-serif;
    margin: 0px;
    padding: 0px;
}
html{
  scroll-behavior: smooth;
}
div{
  padding: 0px;
  margin: 0px;
}
.parent{
    background-color: #eee;
   
}
.special-heading{
  margin: 0;
  color: #ebeced;
  text-align: center;
  letter-spacing: -3px;
  font-size: 100px;
  font-weight: 800px;

}
.special-heading + p{
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}
@media ( max-width: 767px){
  .special-heading{
    font-size: 60px;
  }
  .special-heading + p{
    margin-top: -20px;

  }
}


.container{
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
  /* start-header */
  .header{
    padding: 20px;

  }
  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo{
    width: 60px;
  }
  .header .links{
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2){
    width: 100%;
  }
  .header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;

  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
    
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 15px);
     display: none; 
     z-index: 1;
}
.header .links ul::before{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;

}
.header .links ul li a{
  display: block;
  padding: 15px;
text-decoration: none;
color: #333;
transition: 0.3s;

}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}


  /* end-header */
  /* start-landing */
.landing{
  background-image: url(imgs/landing-1.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;

}
.landing .intro-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;

  
}
.landing .intro-text h1{
  margin: 0px;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
  text-align: center;

}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
}
.features{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat{
  padding: 20px;
  text-align: center;
}
.features .feat i{
  color: var(--main-color);
}
.features .feat h3{
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p{
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}


  /* end-landing */
  /* start services */
  .services{
    padding-top: 60px;
    padding-bottom: 60px;
  }
   .services .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
   
    }
    .serv i{
      color: var(--main-color);
      flex-basis: 60px;

    }
    .serv{
      display: flex;
      margin-bottom: 40px;
    }
    @media(max-width:767px){
      .serv{
        flex-direction: column;
        text-align: center;
      }
    }
    .services .service-content .serv .text{
      flex: 1;
    }
    .services .service-content .serv .text h3{
      margin: 0 0 20px;
    }
    .services .service-content .serv .text p{
      color: #444;
     line-height: 1.6;
      font-weight: 300;
    }
    .services .service-content  .image{
      text-align: center;
      position: relative;

    }
    .services .service-content .image::before{
      content: '';
      background-color: var(--secondary-color);
      width: 100px;
      height: calc(100% + 100px);
      top: -50px;
      position: absolute;
      right: 0;
      z-index: -1;
     

}


    
    .services .service-content  .image img{
      width: 260px;

    }

  /* end services */
  /* start protflio */
 .protoflio{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.protoflio .protoflio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px; 
 


}
.protoflio .protoflio-content .card{
  background-color: white;

}
.protoflio .protoflio-content .card img{
  max-width: 100%;
}
.protoflio .protoflio-content .card .info{
  padding: 20px;
  

}
.protoflio .protoflio-content .card .info h3{
  margin: 0px;

}
.protoflio .protoflio-content .card .info p{

  color: #777;
  line-height: 1.6;
  margin-bottom: 0px;
}
  /* end protflio */
  /* start about */
  .about{
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
   
  }
  .about-content .image::before{
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;

  }
  .about-content .image::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
    right: -150px;
    top: -40px;
}

  
  .about-content .image img{
    max-width: 100%;
  }
  .about-content .text{
    flex: 1;
    padding-left: 200px;
    margin-top: 50px;
    color: #777;
    font-weight: bold;
    line-height: 1.6;
  }
  .about-content .text hr{
    border-color: var(--main-color);
  }
  /* end about */
  /* start contact */
  .contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }
  .contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
   


  }
  .contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info a{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

  }
  .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .social i{
    margin-left: 10px;
    color: var(--secondary-color);
  }
  /* end contact */
  /* start footer  */
  .footer{
    padding: 30px 10px;
    background-color: var(--secondary-color);
    
  
    text-align: center;
    color: white;
    
    
    font-size: 18px;
  }
 
  .footer span{
    color: var(--main-color);
    font-weight: bold;
    
  }
  /* end footer  */